:root {
    --primary-color: #007bff;
    --hover-primary-color: #0056b3;
    --text-color: #ffffff;
}

#home {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.faq-section {
    background: #011627; /* Dark blue background for a futuristic feel */
    color: #8892b0; /* Soft text color for contrast */
    padding: 50px 0;
}

.faq-header {
    cursor: pointer;
    padding: 20px;
    border: 1px solid #2c3e50;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05); /* Translucent backgrounds */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    transition: all 0.3s ease;
}

.faq-header:hover, .faq-header[aria-expanded="true"] {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly darker on hover and when expanded */
    color: #fff; /* White text for readability */
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: rgba(255, 255, 255, 0.02); /* Dark background for the answer */
    margin: 0 10px; /* Slight margin for aesthetics */
    padding: 0 20px; /* Padding for text */
}

/* Styles for when the answer is revealed */
.faq-header[aria-expanded="true"] .faq-answer {
    max-height: 1000px; /* Adjust as needed based on content */
    padding: 20px; /* Padding for text */
}

/* Glow effect for titles */
.glow {
    text-shadow: 0 0 8px #4FD1C5;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%);
}

.glow-effect {
    text-shadow: 0 0 20px rgba(10, 150, 255, 0.7), 0 0 30px rgba(10, 150, 255, 0.6);
    animation: neonGlow 2s ease-in-out infinite alternate;
}

@keyframes neonGlow {
    from {
        text-shadow: 0 0 10px rgba(10, 150, 255, 0.7), 0 0 20px rgba(10, 150, 255, 0.6);
    }
    to {
        text-shadow: 0 0 20px rgba(10, 150, 255, 1), 0 0 30px rgba(10, 150, 255, 0.9);
    }
}

.cta-button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cta-glow {
    animation: ctaPulse 2s ease-in-out infinite alternate;
}

@keyframes ctaPulse {
    from {
        box-shadow: 0 0 10px rgba(10, 150, 255, 0.5), 0 0 20px rgba(10, 150, 255, 0.5), 0 0 30px rgba(10, 150, 255, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(10, 150, 255, 1), 0 0 40px rgba(10, 150, 255, 1), 0 0 50px rgba(10, 150, 255, 1);
    }
}

/* Modal styles */
.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 2;
}

.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
}

@media (max-width: 640px) {
    .modal-content {
        width: 90%;
        padding: 1rem;
    }
}


.modal-content {
    width: auto;
    /* Adjust width as necessary */
    max-width: 600px;
    /* Max width can prevent the modal from becoming too wide on larger screens */
}

.modal-header {
    border-bottom: 1px solid #e2e8f0;
    /* A light border to separate the header from the body */
}



.modal-close {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.services .coming-soon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* semi-transparent black overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    /* match the border-radius of service cards */
}

.group:hover .service-card-overlay {
    opacity: 0.75;
    /* Slightly reduce opacity on hover */
    transition: opacity 0.3s ease;
}

.service-card-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    /* match the border-radius of service cards */
    transition: opacity 0.3s ease;
    opacity: 0;
    /* Start with a transparent overlay */
}

.group:hover .service-card-overlay {
    opacity: 1;
    /* Show the overlay on hover */
}

.service-box {
    transition: transform 0.3s ease-in-out;
}

.service-box:hover {
    transform: scale(1.05); /* Adjust the scale value to control the enlargement level */
}

/* Transition for the navbar toggle */
#navbarLinks {
    transition: all 0.3s ease;
}

/* Style for the active navigation link */
.nav-link-active {
    color: #4a90e2;
    /* Or any color that fits your design */
}

/* Additional styles for the search bar to match the Tailwind theme */
.search-container input[type="text"] {
    border: 1px solid #555;
    /* Slight border for the input */
    color: white;
    /* Text color */
}

.search-container button {
    border: none;
    /* Remove button border */
    cursor: pointer;
    /* Cursor indication for clickable button */
}

#navbarLinks {
    transition: all 0.3s ease;
}

/* Style for the active navigation link */
.nav-link-active {
    color: #4a90e2;
    /* Or any color that fits your design */
}


.coming-soon:hover div {
    /* filter: saturate(0) blur(3px); */
    filter: saturate(0) blur(1px) brightness(0.5);

}

.coming-soon {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.coming-soon-text {
    display: none;
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.coming-soon:hover .coming-soon-text {
    display: block;
}
/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.brand-title {
    font-size: 1.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0 20px;
}

.navbar-links li a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

.navbar-links li a:hover {
    color: #0088a9;
}

/* Hamburger menu */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        padding: 10px;
    }

    .navbar-links ul li a {
        padding: 10px;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }
}
.navbar-links li a {
    position: relative;
    color: #FFF;
    text-decoration: none;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4a90e2;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-links li a:hover::after {
    visibility: visible;
    width: 100%;
}
.navbar.active-nav {
    background-color: rgba(0, 0, 0, 0.); /* Or any color */
}

.carousel-slides {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-img {
    max-width: 100%;
    display: none; /* Hide images by default */
  }
  
  /* Show the first image */
  .carousel-img:first-child {
    display: block;
  }
  
  .carousel-navigation a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    text-decoration: none;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
